*{
    padding: 0%;
    margin: 0;
    /* font-family: Arial, sans-serif; */
    cursor: pointer;
}
.img{
    width: 32px;
    /* padding: 15px 20px; */
    height:-32px;
    
}
.hm{ 
    width: 32px;
      /* padding: 32px 32px;  */
     height: -30px;
}
.ser{
  width: 32px;
     /* padding: 15px 20px; */
     height: -30px;
     
}
 .lib{
     width:  25vw; 
    display: flex;
    float: left;
    height: 100%vw;
    height: 95vh;
    /* background-color: rgb(49, 47, 47); */
    background-color: #181818;
}  
.cont{
    /* width:  75vw; */
    height: 20%vw;
    display: flex;
    align-items: center;
    /* flex-direction: row; */
    padding-left: auto;
    min-height: 95vh;
    background-color: rgb(24, 24, 24);
    color: aliceblue;
    text-align: center;
    text-decoration-line: initial;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-right: 6px;
    
    /* background-image: url("img/bg.jpg"); */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* filter: opacity(28%); */
    margin-top: 5px;
}
.nevbar{
    margin: 0%;
     
    display: flex;
    flex-direction: row;
    width: 100%;
    /* justify-content: space-evenly; */
    gap: 24px;
    height: 48px;
    /* justify-content: space-evenly; */
   
}
#sig{
    position:absolute;
    right: 9%;
    top: 2%;
    width: 55px;
    background-color: #181818;
    color: aliceblue;
    
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    margin-bottom: 5px;
    margin-bottom: 7px;
    width: 86px;
    height: 42px;
    margin-top: -11px;
    
    
}
#log{
    position: absolute;
    right: 1%;
    top: 1%;
    width: 90px;
    background-color: aliceblue;
    height: 42px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    margin-bottom: 5px;
    margin-top: -3px;
  
}
.cnt{
    /* text-align: center; */
    padding-left: 36px;
    padding-bottom: 652px;
}
.bt1{
    width: 30px;
    padding-left: 307px;
    position: absolute;
    padding-top: 3px;

}
/* .poster{
    display: flex;
    /* background-image: url("img/songpg.jpeg"); */
    /* background-position: center; */
    /* justify-content: center; */
    /* justify-items: center; */
    /* background-size: contain; */
    /* padding-left: 12px;
 padding-right: 12px;
  padding-top: 12px;
   padding-bottom: 12px; */
    /* justify-content: center; */
     /* margin-top: -481px; 
    text-align: end; */
    /* height: 25px; */
    

/* } */ 
/* .signup{
    background-color: #181818;
    color: aliceblue;
} */